


<% @history.each do |x| %>
    <% if x.user_id== Current.user.id %>
     <h4> Created on  <%= x.created_at %> </h4> 
        <% x.cart_lists.each do |y| %>
            <% @v=Fooditem.find(y.fooditem_id) %>
            
             <%= @v.name %> 
             <%= @v.price %> 
             <%= y.quantity %> <br>

            


        <% end %>
        <strong> Order status </strong> <%= x.order_status %> 
        <%= link_to 'chat with chef', x.room %>

    <% end %>
<% end %>