<h2 class="text-center" style="color:Pink;"><%= @foodstore.name %> </h2> <br><br>
<% if @foodstore.fooditems.present? %>
  <h3 class="text-center">Food items </h3>
  <table class="table table-striped">
    <thread>
      <th>Item name </th>
      <th>Item price </th>
      <th>Description </th>
    </thread>
    <% @foodstore.fooditems.each do |f| %>
      <tbody>
        <tr>
          <td><%= f.name %></td>
          <td><%= f.price %></td>
          <td><%= f.description %></td>
        </tr>
      </tbody>
   <% end %>
  </table>
<% end %><br><br>
    
<h3 class="text-center" >Create new fooditem </h3>

<%= form_with model:[@foodcategory,@foodstore, @foodstore.fooditems.build] do |f| %>
  <div class="card-body">
    <div class="mb-3">
      <%= f.label :name, { class: "form-label"} %>
      <%= f.text_field :name, { class: "form-control", placeholder: "Food item Name" } %>
    </div>
    <div class="mb-3">
      <%= f.label :price, { class: "form-label"} %>
      <%= f.number_field :price, { class: "form-control", placeholder: "Item price" } %>
    </div>
    <div class="mb-3">
      <%= f.label :description, { class: "form-label"} %>
      <%= f.text_field :description, { class: "form-control", placeholder: "Item description" } %>
    </div>
    <div class="mb-3">
      <%= f.label :Image, { class: "form-label"} %><br>
      <%= f.file_field :item_image %>
    </div>
    <div class="mb-3">
      <%= f.hidden_field :foodstore_id, value: @foodstore.id %>
    </div>
      <%= f.submit "Add fooditem", class: "btn btn-primary" %>
  </div>
<% end %>
