<h2 class="text-center"> Orders on your Restaurant </h2>
<% if validate_chef? %>
  <% @carts.reverse.each do |x| %>
    <div class="order-list">
      <div>
        <%=x.user.email %> Ordered on
        <%= x.created_at %> in
        <%=x.food_store.name %> restaurant
        <%= link_to "Open order", edit_cart_path(x) %> 
        <% if x.room %>
          <%= link_to "MessageFromCustomer", x.room %> 
        <% end %> 
      </div>
      
      <div>
      <%= form_with model: x do |form| %>
        <%= form.select :order_status, ['Placed', 'Received', 'cooking', 'Finished', 'Delivered'], value: x.order_status%> 
          <%= form.submit "change status" %>
      </div>
    </div>
    <% end %>
<% end %>
<% end %>