<h2> Food categories show page </h2>

<p> <%=@foodcategories.name %> </p>

 <%= link_to "Edit", edit_foodcategory_path %> <br><br>

<%= button_to "Destroy", @foodcategories, method: :delete %>


<h2>foodstores</h2>
<% @foodcategories.foodstores.each do |f| %>
  <p>
    <strong>name:</strong>
    <%= link_to f.name, [f.foodcategory, f] %>
    <%= button_to "Delete foodstore", [f.foodcategory, f], method: :delete %>
    <br><br><br>
  </p>
<% end %>


<h2>Add a foodstore:</h2>
<%= form_with model: [ @foodcategories, @foodcategories.foodstores.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>