<h2 class="text-center" style="color:Pink;"><%= @foodcategories.name %> </h2><br><br>

<% if @foodcategories.foodstores.present? %>
  <h3 class="text-center" >Available foodstores on above category</h3>
  <% @foodcategories.foodstores.each do |f| %>
    <p>
      <h5><%= link_to f.name, [f.foodcategory, f], style:"text-decoration:none;"%> </h5> <br><br>
    </p>
  <% end %>
<% end %>

<h3 class="text-center" >Add a foodstore</h3>

<%= form_with model: [ @foodcategories, @foodcategories.foodstores.build ] do |f| %>
  <div class="card-body">
    <div class="mb-3">
      <%= f.label :name, { class: "form-label"} %>
      <%= f.text_field :name, { class: "form-control", placeholder: "Food store Name" } %>
    </div>
    <div class="mb-3">
      <%= f.label :Image, { class: "form-label"} %><br>
      <%= f.file_field :image %>
    </div>
    <%= f.submit "Add foodstore", class: "btn btn-primary" %>
  </div>
<% end %>