<h1>Welcome#index</h1>

<% if Current.user %>
    Logged in as: <%= Current.user.usertype %><br><br>
    <%= link_to 'Edit Password', edit_password_path %><br><br>
    <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
  <% end %>


  <% if Current.user  %>
    <% if Current.user.usertype=="Admin" && Current.user.email=="ganesh@gmail.com"%>
    <h4> Employee request </h4>
    <%= link_to 'Accept/reject', employee_profiles_path %>
    <h4> Chef request </h4>
    <%= link_to 'Accept/reject', chefprofiles_path %>
    <% end %>
    <% end %>

<% if Current.user %>
<% if Current.user.usertype=="Employee" && Current.user.employee_profile.isapproved%>
    <h4> You have already filled the details click below to continue </h4>
    <%= link_to "continue", Current.user.employee_profile %>
<% elsif Current.user.usertype=="Chef" && Current.user.chef_profile.isapproved %>
    <h4> You have already filled the details click below to continue </h4>
    <%= link_to "continue", Current.user.chef_profile %> 
<% end %>

<% if Current.user.usertype=="Employee" && !Current.user.employee_profile.isapproved && !Current.user.employee_profile.isrejected %>
    <h4> You have already filled the details click below to continue </h4>
    <%= link_to "continue", employee_profiles_path %>
<% elsif Current.user.usertype=="Chef" && !Current.user.chef_profile.isapproved && !Current.user.chef_profile.isrejected %>
    <h4> You have already filled the details click below to continue </h4>
    <%= link_to "continue", chefprofiles_path %>
<% end %>
<% end %>