<h1 class="text-center">Home Page</h1>

<% if Current.user %>
  Logged in as: <%= Current.user.usertype %><br><br>
<% else %>
  <p>Create your account now via above links!!</p>
<% end %>

<% if employee? %>
  <%= link_to "Go to dashboard", Current.user.employee_profile, class:"btn btn-dark" %>
<% elsif chef? %>
  <%= link_to "Go to dashboard", Current.user.chef_profile, class:"btn btn-dark" %>
<% elsif customer? %>
  <%= link_to "Go to dashboard", Current.user.customer, class:"btn btn-dark" %>
<% elsif admin? %>
  <%= link_to "Go to dashboard", admin_dashboard_path, class:"btn btn-dark" %>
<% end %>

