<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h2> Authentication part </h2>


<% if Current.user %>
    Logged in as: <%= Current.user.email %><br>
    <%= link_to 'Edit Password', edit_password_path %>
    <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
  <% end %>