<h1>Welcome#index</h1>

<% if Current.user %>
    Logged in as: <%= Current.user.usertype %><br><br>
    <%= link_to 'Edit Password', edit_password_path %><br><br>
    <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
  <% end %>


  <% if Current.user  %>
    <% if Current.user.usertype=="Admin" && Current.user.email=="ganesh@gmail.com"%>
    <h4> Employee request </h4>
    <%= link_to 'Accept/reject', employee_profiles_path %>
    <h4> Chef request </h4>
    <%= link_to 'Accept/reject', chefprofiles_path %>
    <% end %>
    <% end %>

<% if Current.user %>
    <% if Current.user.usertype=="Employee" %>
        <%= link_to 'Continue to dashboard', @emp_pro %>
    <% end %> 
    <% if Current.user.usertype=="Chef" %>
        <%= link_to 'Continue to dashboard', @chef_pro %>
    <% end %> 
<% end %>