<h2 class="text-center" > Order details </h2>
<h4> <%= @cart.food_store.name %> </h4>
<table class="table" >
  <thread>
    <th> Item Name </th>
    <th>  Quantity </th>
    <th>  Price </th>
    <th>  Description </th>
  </thread>
  <tbody>
    <% @cart.cart_items.each do |x| %>
      <tr> 
        <td> <%= x.food_item.name %> </td>
        <td> <%= x.quantity %>  </td>
        <td><%= x.quantity * x.food_item.price %> </td>
        <td><%= x.description if x.description%> </td>       
      </tr>
      <% @total+=x.quantity * x.food_item.price %>
    <% end %>
  </tbody>
</table>
    
<div class="order-details">
  <strong>Grand total:  <%= @total  %> </strong>
  <strong> order status: <%= @cart.order_status %>  </strong> 
</div> <br><br>

<% if admin? %>
  <%= link_to "Back", carts_path %>
<% elsif chef? %>
  <%= link_to "Back", order_path(Current.user.chef_profile) %>
<% end %>


