<h2> Order details </h2>
<table>
<tr>
  <th>Itemname </th>
  <th>quantity </th>
  <th>price </th>
</tr>

<% @cart.cart_lists.each do |x| %>
  <tr>
    <td> <%= x.fooditem.name %> </td>
    <td> <%= x.quantity %> </td>
    <td> <%= x.fooditem.price %> </td>
  </tr>
<% end %>
</table>

<%= form_with model: @cart do |form| %>
  Order status:<%= form.select :order_status, ['Placed', 'Received', 'cooking', 'Finished', 'Delivered'], value: @cart.order_status%>
    

 
    <%= form.submit %>
    <br><br>

<% end %>
<br><br>

