<h2 class="text-center" > Order details </h2>
<h4> <%= @cartid.food_store.name %> </h4>

<table class="table" >
  <thread>
    <th> Item Name </th>
    <th>  Quantity </th>
    <th>  Price </th>
  </thread>
  <tbody>
    <% @cartid.cart_items.each do |x| %>
      <tr> 
        <td> <%= x.food_item.name %> </td>
        <td> <%= x.quantity %>  </td>
        <td> <%= x.quantity * x.food_item.price %> </td>    
      </tr>
      <% @total+=x.quantity * x.food_item.price %>
    <% end %>
  </tbody>
</table>
    
<div class="order-details"> 
  <strong>Grand total:  <%= @total  %> </strong>
  <strong> order status: <%= @cartid.order_status %> </strong> 
</div> <br><br>

<% if employee? %>
  <%= link_to "<-Goto dashboard", Current.user.employee_profile, class:"btn btn-primary" %>
<% else %>
  <%= link_to "Goto dashboard", Current.user.normal_customer, class:"btn btn-primary" %>
<% end %> <br><br>

<% if !(@cartid.room) %>
  <%= form_with model: @room do |form| %>
    <%= form.hidden_field :cart_id, value: @cartid.id %> <br><br>
    <%= form.submit 'Start messaging chef' %>
  <% end %>
<% else %>
  <%= link_to 'chat with chef', @cartid.room, class:"btn btn-primary" %>
<% end %>