<h2 class="text-center", style="color:brown;" > Order details </h2>
<h4> <%= @cartid.food_store.name %> <i class="fa-solid fa-cart-shopping"></i> </h4><br>

<table class="table" >
  <thread>
    <th> Item Name </th>
    <th>  Quantity </th>
    <th>  Price </th>
  </thread>
  <tbody>
    <% @cartid.cart_items.each do |x| %>
      <tr> 
        <td> <%= x.food_item.name %> </td>
        <td> <%= x.quantity %>  </td>
        <td> <%= x.quantity * x.food_item.price %> </td>    
      </tr>
      <% @total+=x.quantity * x.food_item.price %>
    <% end %>
  </tbody>
</table>
    
<div class="order-details"> 
<strong> Total amount: <i class="fa-sharp fa-solid fa-indian-rupee-sign" style="padding-top:3px;"></i><%= @total %></strong>
<strong> order status: <%= @cartid.order_status %> </strong> 
</div> <br><br>

<div class="order-details">
  <% if employee? %>
    <%= link_to '<i class="fa-solid fa-arrow-left"></i> Goto dashboard'.html_safe, Current.user.employee_profile, class:"btn btn-primary" %>
  <% else %>
    <%= link_to '<i class="fa-solid fa-arrow-left"></i> Goto dashboard'.html_safe, Current.user.customer, class:"btn btn-primary" %>
  <% end %> 

  <% if !(@cartid.room) %>
    <%= form_with model: @room do |form| %>
      <%= form.hidden_field :cart_id, value: @cartid.id %> 
      <%= form.submit 'Start messaging chef' %>
    <% end %>
  <% else %>
    <%= link_to 'chat with chef', @cartid.room, class:"btn btn-primary" %>
  <% end %>
</div>