<%= turbo_stream_from @room %>
<div id="messages">
<%= render @messages %>

</div>


<%= form_with model: [@room ,@message], remote: true do |f| %>
    <%= f.hidden_field :room_id, value: @room.id  %>
    <%= f.text_field :context %>

    <%= f.submit "send message"  %>
  <% end %>

<% if Current.user.usertype=="Employee" %>
  <%= link_to "Go back", order_history_path %>
<% else %>
<%= link_to "Go back", order_path(:chefid=> Current.user.chef_profile) %>
<% end %>