<%= turbo_stream_from @room %>
<div id="messages">
  <%= render @messages %>
</div>

<%= form_with model: [@room ,@message], remote: true do |f| %>
  <%= f.hidden_field :room_id, value: @room.id  %>
  <%= f.hidden_field :user_id, value: Current.user.id  %>
  <%= f.text_field :context, class: "msg-content" %>
  <%= f.submit "send message", class: "btn btn-primary"  %>
<% end %> <br>

<% if employee? %>
  <%= link_to '<i class="fa-solid fa-arrow-left"></i> Go Back'.html_safe, order_history_path, class:"btn btn-primary" %>
<% elsif customer? %>
  <%= link_to '<i class="fa-solid fa-arrow-left"></i> Go Back'.html_safe, order_history_path, class:"btn btn-primary" %>
<% else %>
  <%= link_to '<i class="fa-solid fa-arrow-left"></i> Go Back'.html_safe, order_path(:chefid=> Current.user.chef_profile), class:"btn btn-primary" %>
<% end %>