<h4> Current order </h4>
<table>
<tr>
<th>Item name  </th>
<th>quantity  </th>
<th>price  </th>
<th>Total item cost</th>
<th>Total Bill</th>

</tr>
<% @cartid.cart_lists.each do |x| %>
    <tr> <td><%= x.fooditem.name %> </td>
    <td> <%= x.quantity %> </td>
    <td> <%= x.fooditem.price %> </td>
    <td> <%= x.quantity * x.fooditem.price %> </td>
   <% @total+=x.quantity * x.fooditem.price %>

    <% end %>
   
<td> <%= @total  %> </td>

</tr>


</table>


<%= form_with model: @room do |form| %>
    <div>
      <%= form.hidden_field :cart_id, value: @cartid.id %>
    </div>
    <div>
      <%= form.submit 'Chat with chef' %>
    </div>
  <% end %>
   

