<h2> Add your cart list </h2>
<%= @foodstore.name %>   <br>  <br>  <br>  


<% @foodstore.fooditems.each do |x| %>
 <h4><%= x.name %> </h4>

<%= form_with model: @cartlist do |form| %>
    <%= form.hidden_field :cart_id, value: @cartid.id %> 
     <%= form.hidden_field :fooditem_id, value: x.id %>
   
    Quantity <%= form.number_field :quantity, value: 0 %>
 
   Description <%= form.text_field :description %> 



 <%= form.submit "Add item to cart" %> <br>  <br>  

  <% end %>
  <% end %>


<br>
<br>
  <%= link_to 'Finish order', cart_lists_path(:cid => @cartid.id) %>

