<%= @chef_pro.name %>

<%= form_with model: @chef_pro do |form| %>
    <div>
    <h5> Mark here to approve </h5>

      <%= form.check_box :isapproved %> <br />

    </div>
    <div>
    <h5> Mark here to reject </h5>

        <%= form.check_box :isrejected %> <br />
        </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>

