
    <% if Current.user.usertype=="Admin" && Current.user.email=="ganesh@gmail.com"%>
    <h4> below users are waiting for approval </h4>
    <% @chef_pro.each do |x| %>
        <% if !(x.isapproved) && !(x.isrejected) %>
        Name:<%= x.name %>
        <%= form_with model: x do |form| %>
            <div>
            <h5> Mark here to approve </h5>
        
              <%= form.check_box :isapproved %> 
        
            </div>
            <div>
            <h5> Mark here to reject </h5>
        
                <%= form.check_box :isrejected %> 
                </div>
            <div>
              <%= form.submit %>
            </div>
          <% end %>
        <br> <br>
        <% end %>
        <% end %>
    
    <% end %>

    <%= link_to 'Back', root_path %>