<h2> All orders </h2>

<% @carts.each do |x| %>
    <% if x.foodstore_id==@chef_pro.foodstore_id %>
        <%=x.user.employee_profile.name %> Ordered on
        <%= x.created_at %> in
        <%=x.foodstore.name %> restaurant
        <%= link_to "Open order", edit_cart_path(x) %>
        <%= link_to "Messages", x.room %> <br> <br>
    <% end %>
<% end %>