
<h4> Welcome to chef dashboard </h4> 
<%= @chef_pro.name %> 

<br> <br>
<%if validate_chef? %>
<%= link_to 'Received orders', order_path %><br>
<%= link_to "Add food items", [@fstore.foodcategory, @fstore] %> <br>
<%= link_to "Notificatios", notice_path %> <br>
<%= link_to "gallery", edit_chefprofile_path %> <br>

    

    <% else %>
    <h5> You need admin approval for processing orders </h4>

<% end %> <br>



<%= button_to 'Logout', logout_path, method: :delete %> <br><br>

