<!DOCTYPE html>
<html>
  <head>
    <title>Canteen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff !important;
      padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      display: flex;
      justify-content: flex-end
      }
    </style>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if current_user.present? %>
      <%= turbo_stream_from current_user.employee_profile %>
      <div id="notifications"></div>
    <% end %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <h2 class="text-center" style="color:green;"><%= @heading %></h2>
    <div class="container-xxl">
      <div class="row justify-content-center">
        <div class="col-12  mt-5 mb-5 border border-info ">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
